

.header
{
  background-color: lightblue;
  padding: 100px 100px;
}

.header h1
{
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

.header h3
{
  padding-top: 20px;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.custom-navbar {
  background-color: skyblue
}

.navbar .nav-link {
  color: #ffffff; /* Link color */
}

.navbar .nav-link:hover {
  color: #ffcc00; /* Link hover color */
}

.navbar-brand {
  color: #ffffff; /* Brand text color */
}

.navbar-toggler {
  border-color: #ffffff; /* Toggle button border color */
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23ffffff" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba(255, 255, 255, 0.7)" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}
.nav-item
{
  padding-left: 71rem;
}

.form-container h3
{
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.form-container h5
{
 color: darkcyan;
}

.select-container {
  display: flex;
  justify-content: space-between; /* Adjusts the spacing between the two selects */
  align-items: flex-start; /* Aligns the items at the top */
}

.select-container > div {
  flex: 1; 
  margin-right: 20px; 
}

.select-container > div:last-child {
  margin-right: 0; 
}


.form-select {
  width: 100%; 
}

.row
{
  padding-top: 50px;
}